Xperience WebHook Lead Management -- JD SubWorkflow.json
{
  "name": "Xperience WebHook Lead Management -- JD SubWorkflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "jd_post_file",
              "value": "=jd_post_file",
              "type": "binary",
              "id": "812d71ca-443d-4bef-a9ef-4f9527898903"
            },
            {
              "id": "1e858b5d-27e7-4cba-8d03-590f28c209c0",
              "name": "prompt_employer",
              "value": "=You are an expert Technical Recruiter and HR Analyst. Your task is to evaluate a candidate's resume (CV) against a specific Job Description (JD) to assist the Hiring Manager in the screening process.\n\nPlease analyze the provided CV and JD, then provide a structured evaluation. Be objective, highlighting both the candidate's strengths and missing qualifications based strictly on the JD requirements.\n\nCRITICAL RULES FOR ANALYSIS:\n1. Keyword Exclusivity: A skill, technology, or qualification CANNOT appear in both 'key_strengths' and 'missing_qualifications'. If the CV demonstrates it, it is a strength. If the JD requires it but the CV lacks it, it is missing.\n2. Score & Recommendation Consistency: The 'recommendation' MUST strictly align with the 'match_score' based on these ranges:\n   - Score 80-100 MUST be \"Strong Hire\"\n   - Score 65-79 MUST be \"Interview\"\n   - Score 50-64 MUST be \"Keep in View\"\n   - Score 0-49 MUST be \"Reject\"\n3. Objective Tone: Provide actionable, concise feedback suitable for a Hiring Manager to read.\n\nJob Position: {{ $json.Position }}\nJob Description: {{ $json.Description }}\nCandidate CV: {{ $json.cv_text }}\n\nAnalyze the match and provide the output strictly in the requested JSON format.",
              "type": "string"
            },
            {
              "id": "31edc088-c361-4a5f-ab38-5ff838bc818c",
              "name": "json_schema_employer",
              "value": "={\n  \"name\": \"candidate_screening_analysis\",\n  \"description\": \"Evaluation of a candidate's resume against a target Job Description for hiring managers.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"candidate_name\": {\n        \"type\": \"string\",\n        \"description\": \"The full name of the candidate. If not found, output 'Unknown'.\"\n      },\n      \"email_address\": {\n        \"type\": \"string\",\n        \"description\": \"The email address of the candidate found in the CV. If not found, output 'Not Provided'.\"\n      },\n      \"contact_phone\": {\n        \"type\": \"string\",\n        \"description\": \"The contact phone number of the candidate found in the CV. If not found, output 'Not Provided'.\"\n      },\n      \"match_score\": {\n        \"type\": \"integer\",\n        \"description\": \"A score from 0 to 100 representing how well the candidate matches the job description.\"\n      },\n      \"key_strengths\": {\n        \"type\": \"array\",\n        \"description\": \"Top 3 to 5 skills or experiences the candidate possesses that perfectly align with the JD.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"missing_qualifications\": {\n        \"type\": \"array\",\n        \"description\": \"Key skills, keywords, or requirements mentioned in the JD that are missing from the candidate's CV.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"recommendation\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Strong Hire\",\n          \"Interview\",\n          \"Keep in View\",\n          \"Reject\"\n        ],\n        \"description\": \"The final hiring recommendation based strictly on the match score.\"\n      },\n      \"executive_summary\": {\n        \"type\": \"string\",\n        \"description\": \"A 2-3 sentence objective summary for the Hiring Manager, explaining the score and whether the candidate should be interviewed.\"\n      }\n    },\n    \"required\": [\n      \"candidate_name\",\n      \"email_address\",\n      \"contact_phone\",\n      \"match_score\",\n      \"key_strengths\",\n      \"missing_qualifications\",\n      \"recommendation\",\n      \"executive_summary\"\n    ],\n    \"additionalProperties\": false\n  }\n}",
              "type": "string"
            },
            {
              "id": "8ce709e6-aaba-4b33-babd-6382188165e1",
              "name": "prompt_jobseeker",
              "value": "=You are an expert Career Coach and Resume Optimization Specialist. Your task is to evaluate my resume (CV) against a target Job Description (JD) to help me understand my current fit and identify areas for improvement.\n\nPlease analyze my provided CV and the JD, then provide a structured evaluation. Be objective, highlighting my key strengths that perfectly align with the role, and explicitly listing any missing skills, keywords, or qualifications required by the JD that I need to address or add to my resume. \n\nCRITICAL RULES FOR ANALYSIS:\n1. Keyword Exclusivity: A skill or keyword CANNOT appear in both 'key_strengths' and 'missing_keywords'. If the CV demonstrates the skill, it goes to strengths. If the JD requires it but the CV lacks it, it goes to missing.\n2. Score & Readiness Consistency: The 'readiness_level' MUST strictly align with the 'match_score' based on these ranges:\n   - Score 80-100 MUST be \"Ready to Apply\"\n   - Score 60-79 MUST be \"Needs Minor Tweaks\"\n   - Score 40-59 MUST be \"Needs Major Revision\"\n   - Score 0-39 MUST be \"Not a Good Fit\"\n\nTarget Job Position: {{ $json.Position }} \nTarget Job Description: {{ $json.Description }} \nMy CV: {{ $json.cv_text }}  \n\nAnalyze the match and provide the output strictly in the requested JSON format.",
              "type": "string"
            },
            {
              "id": "6a04156f-8736-4568-bcc3-4796ab9e0eb9",
              "name": "job_schema_jobseeker",
              "value": "={\n  \"name\": \"resume_optimization_analysis\",\n  \"description\": \"Evaluation of a job seeker's resume against a target Job Description to provide improvement feedback.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_seeker_name\": {\n        \"type\": \"string\",\n        \"description\": \"The full name found in the resume. If not found, output 'Unknown'.\"\n      },\n      \"match_score\": {\n        \"type\": \"integer\",\n        \"description\": \"A score from 0 to 100 representing how well the current resume matches the target job description.\"\n      },\n      \"key_strengths\": {\n        \"type\": \"array\",\n        \"description\": \"Top 3 to 5 skills or experiences currently on the resume that perfectly align with the job requirements.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"missing_keywords\": {\n        \"type\": \"array\",\n        \"description\": \"Key skills, keywords, or requirements mentioned in the JD that are missing or poorly highlighted in the resume.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"readiness_level\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Ready to Apply\",\n          \"Needs Minor Tweaks\",\n          \"Needs Major Revision\",\n          \"Not a Good Fit\"\n        ],\n        \"description\": \"Assessment of how ready the resume is for submission based on the current match.\"\n      },\n      \"actionable_feedback\": {\n        \"type\": \"string\",\n        \"description\": \"A 2-3 sentence summary explaining the score and providing specific advice on how to improve the resume for this role.\"\n      }\n    },\n    \"required\": [\n      \"job_seeker_name\",\n      \"match_score\",\n      \"key_strengths\",\n      \"missing_keywords\",\n      \"readiness_level\",\n      \"actionable_feedback\"\n    ],\n    \"additionalProperties\": false\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02e7e6d7-3ccd-49de-b66d-1c21b53e4fb0",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1376,
        -288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Specify the exact binary property name you want to extract\n  const targetKey = 'jd_post_file'; \n\n  // Check if this binary property exists in the current item\n  if (item.binary && item.binary[targetKey]) {\n    const fileData = item.binary[targetKey];\n    const fileName = fileData.fileName;\n    const extension = fileName.split('.').pop().toLowerCase();\n\n    return {\n      json: {\n        filename: fileName,\n        fileExtension: extension,\n      },\n      binary: {\n        // We output it as 'data' so downstream nodes can easily process it\n        jd_post_file: fileData, \n      },\n    };\n  }\n  \n  // If the file isn't found, return the item as is (or return null to drop it)\n  return item; \n});\n\n"
      },
      "id": "4e2d993e-ba98-44e0-a3d1-3b59b6983711",
      "name": "JD",
      "type": "n8n-nodes-base.function",
      "position": [
        -1168,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=jd_post_file",
        "options": {}
      },
      "id": "a72539f5-f05d-44c2-a25c-fdac9343e3c1",
      "name": "PDF_JD",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -976,
        -288
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert HR data extraction and standardization engine for a recruitment SaaS platform.\nYour task is to analyze raw Job Description (JD) data and extract the information.\n\nIMPORTANT: You must STRICTLY follow the JSON output formatting instructions provided by the Structured Output Parser. Do not deviate from the requested schema.\n\n### EXTRACTION RULES & LOGIC\n1. Strict Null Handling: If a specific piece of information is missing from the raw data, you MUST return `null` or an empty array `[]` as defined by the schema. DO NOT invent or hallucinate data.\n2. Job Title Inference: If the 'job_title' is missing, infer a logical and standard job title based on the context.\n3. Experience: Extract the absolute minimum years of experience required as an integer for 'min_experience_years'.\n4. Skills Categorization: \n   - 'core_skills': Essential technical skills, tools, and frameworks.\n   - 'bonus_skills': Preferred skills, nice-to-haves, soft skills, and domain knowledge.\n5. Education Splitting: Split multiple degree requirements into separate array items (e.g., [\"Bachelor's degree in CS\", \"Master's degree in CS\"] instead of combining them).\n6. Context Preservation: \n   - 'job_description': A general overview or summary of the role.\n   - 'responsibilities': Specific day-to-day duties and tasks.\n   - 'qualifications': Specific requirements, certifications, or background needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -496,
        -288
      ],
      "id": "1b9150a4-4417-46a9-a642-4eeb356f3cf5",
      "name": "Extract JD"
    },
    {
      "parameters": {
        "model": "gpt-5.4",
        "options": {
          "maxTokens": 7000,
          "temperature": 0,
          "topP": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -496,
        -64
      ],
      "id": "052b3a27-56d7-4fac-aa30-0627e46ec307",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "EboPghdggcNzGXM2",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25c3a138-c576-45b4-8e0b-ac05016eb12d",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -288
      ],
      "id": "2b6ad311-623d-4a7f-8934-b698cd362529",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"job_title\": { \"type\": \"string\" },\n    \"company_name\": { \"type\": [\"string\", \"null\"] },\n    \"location\": { \"type\": [\"string\", \"null\"] },\n    \"employment_type\": { \"type\": [\"string\", \"null\"] },\n    \"salary_min\": { \"type\": [\"number\", \"null\"] },\n    \"salary_max\": { \"type\": [\"number\", \"null\"] },\n    \"salary_currency\": { \"type\": [\"string\", \"null\"] },\n    \"salary_period\": { \"type\": [\"string\", \"null\"] },\n    \"min_experience_years\": { \"type\": [\"number\", \"null\"] },\n    \"domain\": { \"type\": [\"string\", \"null\"] },\n    \"education\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"core_skills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"bonus_skills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"job_description\": { \"type\": [\"string\", \"null\"] },\n    \"responsibilities\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"qualifications\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n  },\n  \"required\": [\n    \"job_title\",\n    \"company_name\",\n    \"location\",\n    \"employment_type\",\n    \"salary_min\",\n    \"salary_max\",\n    \"salary_currency\",\n    \"salary_period\",\n    \"min_experience_years\",\n    \"domain\",\n    \"education\",\n    \"core_skills\",\n    \"bonus_skills\",\n    \"job_description\",\n    \"responsibilities\",\n    \"qualifications\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -320,
        -64
      ],
      "id": "c9e805d3-ca4e-4d70-bfd4-3099b0272ef9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        -288
      ],
      "id": "6a63ec0a-3f67-4d31-a5f8-eb5689c73a08",
      "name": "SubWorkFlow Start"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -288
      ],
      "id": "dcca3a06-400d-4770-b26a-f93071d0e114",
      "name": "SubWorkflow Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD": {
      "main": [
        [
          {
            "node": "PDF_JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_JD": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract JD",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract JD": {
      "main": [
        [
          {
            "node": "SubWorkflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extract JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract JD",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkFlow Start": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8160d04e-8c71-4b98-bb44-a550e6c9d267",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d8809dc8963dcd69511a04dc9ba3b2805dbf7ebb4e574e80850adf3f13b73e6"
  },
  "id": "etZ896Qn2P4gl8CH",
  "tags": []
}