Xperience WebHook Edition.json
{
  "name": "Xperience WebHook Edition",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a58dcdf-700a-4aca-9378-9a6d15f00f8b",
              "name": "=cv_post_file",
              "value": "cv_post_file",
              "type": "binary"
            },
            {
              "name": "jd_post_file",
              "value": "=jd_post_file",
              "type": "binary",
              "id": "812d71ca-443d-4bef-a9ef-4f9527898903"
            },
            {
              "id": "1e858b5d-27e7-4cba-8d03-590f28c209c0",
              "name": "prompt_employer",
              "value": "=You are an expert Technical Recruiter and HR Analyst. Your task is to evaluate a candidate's resume (CV) against a specific Job Description (JD) to assist the Hiring Manager in the screening process.\n\nPlease analyze the provided CV and JD, then provide a structured evaluation. Be objective, highlighting both the candidate's strengths and missing qualifications based strictly on the JD requirements.\n\nCRITICAL RULES FOR ANALYSIS:\n1. Keyword Exclusivity: A skill, technology, or qualification CANNOT appear in both 'key_strengths' and 'missing_qualifications'. If the CV demonstrates it, it is a strength. If the JD requires it but the CV lacks it, it is missing.\n2. Score & Recommendation Consistency: The 'recommendation' MUST strictly align with the 'match_score' based on these ranges:\n   - Score 80-100 MUST be \"Strong Hire\"\n   - Score 65-79 MUST be \"Interview\"\n   - Score 50-64 MUST be \"Keep in View\"\n   - Score 0-49 MUST be \"Reject\"\n3. Objective Tone: Provide actionable, concise feedback suitable for a Hiring Manager to read.\n\nJob Position: {{ $json.Position }}\nJob Description: {{ $json.Description }}\nCandidate CV: {{ $json.cv_text }}\n\nAnalyze the match and provide the output strictly in the requested JSON format.",
              "type": "string"
            },
            {
              "id": "31edc088-c361-4a5f-ab38-5ff838bc818c",
              "name": "json_schema_employer",
              "value": "={\n  \"name\": \"candidate_screening_analysis\",\n  \"description\": \"Evaluation of a candidate's resume against a target Job Description for hiring managers.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"candidate_name\": {\n        \"type\": \"string\",\n        \"description\": \"The full name of the candidate. If not found, output 'Unknown'.\"\n      },\n      \"email_address\": {\n        \"type\": \"string\",\n        \"description\": \"The email address of the candidate found in the CV. If not found, output 'Not Provided'.\"\n      },\n      \"contact_phone\": {\n        \"type\": \"string\",\n        \"description\": \"The contact phone number of the candidate found in the CV. If not found, output 'Not Provided'.\"\n      },\n      \"match_score\": {\n        \"type\": \"integer\",\n        \"description\": \"A score from 0 to 100 representing how well the candidate matches the job description.\"\n      },\n      \"key_strengths\": {\n        \"type\": \"array\",\n        \"description\": \"Top 3 to 5 skills or experiences the candidate possesses that perfectly align with the JD.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"missing_qualifications\": {\n        \"type\": \"array\",\n        \"description\": \"Key skills, keywords, or requirements mentioned in the JD that are missing from the candidate's CV.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"recommendation\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Strong Hire\",\n          \"Interview\",\n          \"Keep in View\",\n          \"Reject\"\n        ],\n        \"description\": \"The final hiring recommendation based strictly on the match score.\"\n      },\n      \"executive_summary\": {\n        \"type\": \"string\",\n        \"description\": \"A 2-3 sentence objective summary for the Hiring Manager, explaining the score and whether the candidate should be interviewed.\"\n      }\n    },\n    \"required\": [\n      \"candidate_name\",\n      \"email_address\",\n      \"contact_phone\",\n      \"match_score\",\n      \"key_strengths\",\n      \"missing_qualifications\",\n      \"recommendation\",\n      \"executive_summary\"\n    ],\n    \"additionalProperties\": false\n  }\n}",
              "type": "string"
            },
            {
              "id": "8ce709e6-aaba-4b33-babd-6382188165e1",
              "name": "prompt_jobseeker",
              "value": "=You are an expert Career Coach and Resume Optimization Specialist. Your task is to evaluate my resume (CV) against a target Job Description (JD) to help me understand my current fit and identify areas for improvement.\n\nPlease analyze my provided CV and the JD, then provide a structured evaluation. Be objective, highlighting my key strengths that perfectly align with the role, and explicitly listing any missing skills, keywords, or qualifications required by the JD that I need to address or add to my resume. \n\nCRITICAL RULES FOR ANALYSIS:\n1. Keyword Exclusivity: A skill or keyword CANNOT appear in both 'key_strengths' and 'missing_keywords'. If the CV demonstrates the skill, it goes to strengths. If the JD requires it but the CV lacks it, it goes to missing.\n2. Score & Readiness Consistency: The 'readiness_level' MUST strictly align with the 'match_score' based on these ranges:\n   - Score 80-100 MUST be \"Ready to Apply\"\n   - Score 60-79 MUST be \"Needs Minor Tweaks\"\n   - Score 40-59 MUST be \"Needs Major Revision\"\n   - Score 0-39 MUST be \"Not a Good Fit\"\n\nTarget Job Position: {{ $json.Position }} \nTarget Job Description: {{ $json.Description }} \nMy CV: {{ $json.cv_text }}  \n\nAnalyze the match and provide the output strictly in the requested JSON format.",
              "type": "string"
            },
            {
              "id": "6a04156f-8736-4568-bcc3-4796ab9e0eb9",
              "name": "job_schema_jobseeker",
              "value": "={\n  \"name\": \"resume_optimization_analysis\",\n  \"description\": \"Evaluation of a job seeker's resume against a target Job Description to provide improvement feedback.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_seeker_name\": {\n        \"type\": \"string\",\n        \"description\": \"The full name found in the resume. If not found, output 'Unknown'.\"\n      },\n      \"match_score\": {\n        \"type\": \"integer\",\n        \"description\": \"A score from 0 to 100 representing how well the current resume matches the target job description.\"\n      },\n      \"key_strengths\": {\n        \"type\": \"array\",\n        \"description\": \"Top 3 to 5 skills or experiences currently on the resume that perfectly align with the job requirements.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"missing_keywords\": {\n        \"type\": \"array\",\n        \"description\": \"Key skills, keywords, or requirements mentioned in the JD that are missing or poorly highlighted in the resume.\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"readiness_level\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Ready to Apply\",\n          \"Needs Minor Tweaks\",\n          \"Needs Major Revision\",\n          \"Not a Good Fit\"\n        ],\n        \"description\": \"Assessment of how ready the resume is for submission based on the current match.\"\n      },\n      \"actionable_feedback\": {\n        \"type\": \"string\",\n        \"description\": \"A 2-3 sentence summary explaining the score and providing specific advice on how to improve the resume for this role.\"\n      }\n    },\n    \"required\": [\n      \"job_seeker_name\",\n      \"match_score\",\n      \"key_strengths\",\n      \"missing_keywords\",\n      \"readiness_level\",\n      \"actionable_feedback\"\n    ],\n    \"additionalProperties\": false\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7fe93cb-1831-4b51-9cdf-cab7a88318c0",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1408,
        32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "binaryPropertyName": "cv_data",
        "outputPrefix": "=resume.docx"
      },
      "id": "a54fab16-3a5a-4b9a-b5cd-8206bc8d34db",
      "name": "Extract ZIP",
      "type": "n8n-nodes-base.compression",
      "position": [
        -800,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  return Object.keys(item.binary || {}).map(k => {\n    const name = k;\n    const extension = name.split('.').pop().toLowerCase();\n    return {\n      json: {\n        filename: name,\n        fileExtension: extension,\n      },\n      binary: {\n        cv_data: item.binary[k],\n      },\n    };\n  });\n}).flat();"
      },
      "id": "c3e8e3d1-0141-4256-88bf-c60b19916d54",
      "name": "Normalize Binary Files",
      "type": "n8n-nodes-base.function",
      "position": [
        -608,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8e485337-cdae-4700-851a-cab688748498",
      "name": "Split CVs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -416,
        128
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "parsed_result",
              "type": "object",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5502177-8603-448f-a8db-8f888b5daca4",
      "name": "Parsed JSON",
      "type": "n8n-nodes-base.set",
      "position": [
        1776,
        -240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "a94075fc-e6b9-4ff9-b0b4-fc427cb7ee38",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.merge",
      "position": [
        1984,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    \"Candidate Name\": item.json.parsed_result.candidate_name || \"\",\n    \"Email\": item.json.parsed_result.email_address || \"\",\n    \"Contact Phone\":item.json.parsed_result.contact_phone || \"\",\n    \"Executive Summary\":item.json.parsed_result.executive_summary || \"\",\n    \"Key Strengths\":item.json.parsed_result.key_strengths || \"\",\n    \"Missing Qualifications\":item.json.parsed_result.missing_qualifications || \"\",\n    \"Match Percentage\": item.json.parsed_result.match_score || 0,\n    \"Recommendation\": item.json.parsed_result.recommendation || \"\",\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -224
      ],
      "id": "c642fae3-0471-42be-bcd0-0d1734557ed8",
      "name": "Format for Excel"
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/any/to/pdf",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "=cv_data"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        0
      ],
      "id": "66fe340e-70e8-4bf8-8ce6-c9ad67716a92",
      "name": "ConvertAPI HTTP Request",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "wXY6Cz7j18rUl0q0",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Files[0].FileData",
        "binaryPropertyName": "=cv_data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        384,
        208
      ],
      "id": "119525a1-7b66-42cc-9d00-675fb102e402",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "**CV Part:** Extract **ZIP Files** to various kind of formats, mainly DOCX and PDF",
        "height": 80,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        16
      ],
      "typeVersion": 1,
      "id": "01409275-433a-45da-85e7-726bf96763b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c3b13a0-24e4-4996-8eb7-e049e8254647",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "doc",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        144
      ],
      "id": "1d3a4292-a315-4336-ab76-cb1adeb272b9",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3:latest\",\n\"temperature\": 0.0,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($('Set Variables').item.json.prompt_employer) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Job Description:\\n\" + ( $json.jd_description|| \"\") + \"\\n\\nCandidate CV:\\n\" + ($json.cv_description || \"\")) }}\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {{ $('Set Variables').item.json.json_schema_employer }}\n  }\n}",
        "options": {}
      },
      "id": "0ac19084-32ce-4496-9c49-e99f0f96c6d6",
      "name": "OpenAI - Analyze CV as Employer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1600,
        -240
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c3b13a0-24e4-4996-8eb7-e049e8254647",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "Employer",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "675e52a9-546c-4220-82c3-c672045104dd",
      "name": "If Employer OR Job Seeker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"llama3:latest\",\n    \"temperature\": 0.0,\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": $('Set Variables').first().json.prompt_jobseeker || \"\"\n      },\n      {  \n        \"role\": \"user\",\n        \"content\": \"Job Description:\\n\" + ( $json.jd_description|| \"\") + \"\\n\\nCandidate CV:\\n\" + (  $json.cv_description || \"\")\n      }\n    ],\n    \"response_format\": {\n      \"type\": \"json_schema\",\n      \"json_schema\": typeof $('Set Variables').first().json.job_schema_jobseeker === 'string' \n        ? JSON.parse($('Set Variables').first().json.job_schema_jobseeker) \n        : $('Set Variables').first().json.job_schema_jobseeker\n    }\n  })\n}}",
        "options": {}
      },
      "id": "09632aa8-5101-4ec6-b165-cf2b3d264641",
      "name": "OpenAI - Analyze CV as Job Seeker",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1616,
        144
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "parsed_result",
              "type": "object",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3158c41c-4cf2-4434-bfee-f69ba5475637",
      "name": "Parsed JSON1",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "386fbde2-0c85-429d-8105-546471b9e609",
      "name": "Aggregate Results1",
      "type": "n8n-nodes-base.merge",
      "position": [
        2080,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    \"Candidate Name\": item.json.parsed_result.job_seeker_name || \"\",\n    \"Match Percentage\": item.json.parsed_result.match_score || 0,\n    \"Key Strenghts\": item.json.parsed_result.key_strengths || \"\",\n    \"Missing Keywords\": item.json.parsed_result.missing_keywords || \"\",\n    \"Readliness Level\": item.json.parsed_result.readiness_level || \"\",\n    \"Actionable Feedback\": item.json.parsed_result.actionable_feedback || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        160
      ],
      "id": "92ad3d0d-f79a-4020-afdb-604e8c464789",
      "name": "Format for Excel1"
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {}
      },
      "id": "6c91c73d-5ab1-4f10-b6c0-8ccc5c0bb5fe",
      "name": "Convert to Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        2384,
        -224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "If the CV file is  **DOCX Files**, it goes to **online PDF converter** to convert it to PDF first before going to extract PDF node.\nOtherwise, it goes to **extract PDF node**",
        "height": 144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -128
      ],
      "typeVersion": 1,
      "id": "aec980e0-1b53-43c9-aa8c-9a29bf31318b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### IMPORTANT\n\nIf you selected **Employer** (Mode Value:Employer),  it goes upper path to proceed AI analysis as a **expert Technical Recrui**.\n\nIf you selected as **Job Seeker** (Mode Value: seeker) , it goes lower path to proceed AI analysis as a **Career Coach**.",
        "height": 240,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -528
      ],
      "typeVersion": 1,
      "id": "61146e94-3261-4bc5-81a7-6dd85fd327c3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xperience",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1648,
        32
      ],
      "id": "e231ceeb-f2ae-4aed-a06c-8e261b79a483",
      "name": "Webhook",
      "webhookId": "3529fb38-ac27-4dfb-af60-340fa902faf2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"Format for Excel\"].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2640,
        -224
      ],
      "id": "73490e3b-b35a-4b0c-9c0c-bf47c1cdc3ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2528,
        160
      ],
      "id": "ab01ae92-928e-47ee-add5-9fd0e864e9f8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c3b13a0-24e4-4996-8eb7-e049e8254647",
              "leftValue": "={{ $binary.data.fileExtension }}",
              "rightValue": "doc",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        -208
      ],
      "id": "24bcace0-d8a3-4d72-a92f-7fb712a3530d",
      "name": "If1"
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/any/to/pdf",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "=jd_data"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        -352
      ],
      "id": "825c28ef-7cb5-4b57-9fc5-f879a532afb6",
      "name": "ConvertAPI HTTP Request1",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "wXY6Cz7j18rUl0q0",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "filename",
        "binaryPropertyName": "jd_data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        -352
      ],
      "id": "28c2dd07-0039-4c77-9e18-a5544ac5be6b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Specify the exact binary property name you want to extract\n  const targetKey = 'jd_post_file'; \n\n  // Check if this binary property exists in the current item\n  if (item.binary && item.binary[targetKey]) {\n    const fileData = item.binary[targetKey];\n    const fileName = fileData.fileName;\n    const extension = fileName.split('.').pop().toLowerCase();\n\n    return {\n      json: {\n        filename: fileName,\n        fileExtension: extension,\n      },\n      binary: {\n        // We output it as 'data' so downstream nodes can easily process it\n        jd_data: fileData, \n      },\n    };\n  }\n  \n  // If the file isn't found, return the item as is (or return null to drop it)\n  return item; \n});\n\n\n/*return items.map(item => {\n  return Object.keys(item.binary || {}).map(k => {\n    const name = k;\n    const extension = name.split('.').pop().toLowerCase();\n    return {\n      json: {\n        filename: name,\n        fileExtension: extension,\n      },\n      binary: {\n        data: item.binary[k],\n      },\n    };\n  });\n}).flat();*/"
      },
      "id": "6b7cb116-4594-4598-8ac2-02df98ad4181",
      "name": "JD",
      "type": "n8n-nodes-base.function",
      "position": [
        -1136,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Specify the exact binary property name you want to extract\n  const targetKey = 'cv_post_file'; \n\n  // Check if this binary property exists in the current item\n  if (item.binary && item.binary[targetKey]) {\n    const fileData = item.binary[targetKey];\n    const fileName = fileData.fileName;\n    const extension = fileName.split('.').pop().toLowerCase();\n\n    return {\n      json: {\n        filename: fileName,\n        fileExtension: extension,\n      },\n      binary: {\n        // We output it as 'data' so downstream nodes can easily process it\n        cv_data: fileData, \n      },\n    };\n  }\n  \n  // If the file isn't found, return the item as is (or return null to drop it)\n  return item; \n});\n\n\n/*return items.map(item => {\n  return Object.keys(item.binary || {}).map(k => {\n    const name = k;\n    const extension = name.split('.').pop().toLowerCase();\n    return {\n      json: {\n        filename: name,\n        fileExtension: extension,\n      },\n      binary: {\n        data: item.binary[k],\n      },\n    };\n  });\n}).flat();*/"
      },
      "id": "4cfc49ca-dbb4-460c-bb0f-2423a21cc9a9",
      "name": "CV",
      "type": "n8n-nodes-base.function",
      "position": [
        -1072,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "1dae32f1-28c3-4ead-9d3a-15b2a4f93147",
      "name": "ArgJDCV",
      "type": "n8n-nodes-base.merge",
      "position": [
        896,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=jd_data",
        "options": {}
      },
      "id": "e72f9870-7483-41b9-ac5f-bc52b6875453",
      "name": "PDF_JD",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        544,
        -192
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=cv_data",
        "options": {}
      },
      "id": "87bbb6e1-59d2-4ad4-b989-26982e9d61c2",
      "name": "PDF_CV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        576,
        208
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "cv_description",
              "type": "string",
              "value": "={{ $('PDF_CV').first().json.text }}",
              "id": "6f74b86a-9436-4bef-80b5-2e3e68106c60"
            },
            {
              "id": "a2154439-e333-4cea-9138-f05b95eea970",
              "name": "jd_description",
              "value": "={{ $('PDF_JD').first().json.text }}",
              "type": "string"
            },
            {
              "id": "af8c4a4b-72c1-4133-9170-f1f0b2ec6acd",
              "name": "mode",
              "value": "={{ $('Webhook').item.json.body.Mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3cace849-f968-4eb4-8734-b53cae6f37d9",
      "name": "Extract_Description",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        0
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "**Job Descriptions Part:** User can print job description as PDF or DOCX and then submit here",
        "height": 80,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -416
      ],
      "typeVersion": 1,
      "id": "7cf34db8-23dd-4b96-bf85-2bf36146cd23",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**PDF Converter:** You can use your own PDF Converter",
        "height": 80,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -464
      ],
      "typeVersion": 1,
      "id": "6f429d12-079c-4d8a-ad03-0866f940d203",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**PDF Converter:** You can use your own PDF Converter",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        16
      ],
      "typeVersion": 1,
      "id": "e7dd8592-3c4c-4ef8-9999-82ffa71ac71d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Extract Job Description and CV data for the AI Analysis",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -112
      ],
      "typeVersion": 1,
      "id": "a5e523b8-caa0-4fef-9e9f-c1ef9da6c1e6",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Set Variables": {
      "main": [
        [
          {
            "node": "JD",
            "type": "main",
            "index": 0
          },
          {
            "node": "CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ZIP": {
      "main": [
        [
          {
            "node": "Normalize Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Binary Files": {
      "main": [
        [
          {
            "node": "Split CVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split CVs": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed JSON": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Format for Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Excel": {
      "main": [
        [
          {
            "node": "Convert to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "PDF_CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Analyze CV as Employer": {
      "main": [
        [
          {
            "node": "Parsed JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Employer OR Job Seeker": {
      "main": [
        [
          {
            "node": "OpenAI - Analyze CV as Employer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Analyze CV as Job Seeker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Analyze CV as Job Seeker": {
      "main": [
        [
          {
            "node": "Parsed JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsed JSON1": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results1": {
      "main": [
        [
          {
            "node": "Format for Excel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Excel1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF_JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "PDF_JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV": {
      "main": [
        [
          {
            "node": "Extract ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ArgJDCV": {
      "main": [
        [
          {
            "node": "Extract_Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_JD": {
      "main": [
        [
          {
            "node": "ArgJDCV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF_CV": {
      "main": [
        [
          {
            "node": "ArgJDCV",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract_Description": {
      "main": [
        [
          {
            "node": "If Employer OR Job Seeker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd29c1fc-0999-455b-a25e-2c4205a67314",
  "meta": {
    "instanceId": "3d8809dc8963dcd69511a04dc9ba3b2805dbf7ebb4e574e80850adf3f13b73e6"
  },
  "id": "5BeJrzh7ZpaITaQF",
  "tags": []
}